<?xml version="1.0"?>
<config>
    <modules>
        <Mgt_AmazingWysiwyg>
            <version>1.0.0</version>
        </Mgt_AmazingWysiwyg>
    </modules>
    <global>
        <blocks>
            <mgt_amazing_wysiwyg>
                <class>Mgt_AmazingWysiwyg_Block</class>
            </mgt_amazing_wysiwyg>
        </blocks>
        <models>
            <mgt_amazing_wysiwyg>
                <class>Mgt_AmazingWysiwyg_Model</class>
            </mgt_amazing_wysiwyg>
        </models>
        <helpers>
            <mgt_amazing_wysiwyg>
                <class>Mgt_AmazingWysiwyg_Helper</class>
            </mgt_amazing_wysiwyg>
        </helpers>
    </global>
    <adminhtml>
        <!--
        <events>
            <sales_order_shipment_save_after>
                <observers>
                    <mgt_observer_x>
                        <class>mgt_x/observer</class>
                        <method>addFunctionXt</method>
                    </mgt_observer_x>
                 </observers>
            </sales_order_shipment_save_after>
        </events>
        -->
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mgt_amazing_wysiwyg translate="title" module="mgt_amazing_wysiwyg">
                                            <title>mgt-commerce</title>
                                        </mgt_amazing_wysiwyg>
                                    </children>
                                </config>
                            </children>
                        </system>
                   </children>
                </admin>
            </resources>
        </acl>
        <layout>
          <updates>
            <mgt_amazing_wysiwyg>
              <file>mgt_amazing_wysiwyg.xml</file>
            </mgt_amazing_wysiwyg>
          </updates>
        </layout>  
    </adminhtml>
    <admin>
        <!--
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mgt_AmazingWysiwyg before="Mage_Adminhtml">Mgt_X_Adminhtml</Mgt_AmazingWysiwyg>
                    </modules>
                </args>
            </adminhtml>
        </routers>
        --> 
    </admin>
</config>
